@media(max-width: 1354px){
    .header__banner-title{
        line-height: 40px;
        font-weight: 200;
        font-size: 50px;
    }
} 


@media(max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .main__container1{
        width: 100%;
    }
    .main__container-text{
        margin-left: 10px;
    }
}
@media(max-width: 992px){
        .container {
        max-width: 720px;
        }
}
@media(max-width: 878px){
    .header__nav{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 10px;
    }
    .c2{
        
        margin: 0 auto;
        
    }
    .c1{
        margin-right: 200px;
    }
    .header__logo{
        margin: 0 auto;
        margin-top: 10px;
    }
    .header__list{
        margin: 0 auto;
    }
    .main__container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main__container2{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media(max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header__banner-title{
        line-height: 30px;
        font-weight: 150;
        font-size: 40px;
    }
    .main__container3-text, .main__container3-text2{
        text-align: center;
    }
    .main__container3{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }
    .main__container3-line{
        transform: rotate(90deg);
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .main___cards{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
    }
    }


@media(max-width: 576px) {
    .container {
        max-width: auto;
    }
    .c1{
        flex-direction: column;
    }
    .c2{
    }
    .header__banner-title{
        line-height: 30px;
        font-weight: 1300;
        font-size: 20px;
    }
    .img{
        width: 100%;
    }
    .main__container2-text{
        text-align: center;
    }
    .main__container3{
        margin-top: 100px;
    }
    .text{
        text-align: center;
    }
    .footer{
        flex-direction: column;
    }
}